# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage

# sentry
.env.sentry-build-plugin

# python
.venv/

# next.js
.next/
out/

# wrangler
.wrangler
apps/api/wrangler.local.toml
apps/vault/wrangler.local.toml
apps/logdrain/wrangler.local.toml

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.dev.vars
.env

# vercel
.vercel
.turbo

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode
.idea
