@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-amber-600/20;
  }

  div,
  body {
    scrollbar-color: #525252 black;
    scrollbar-width: thin;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(#0a0a0a 0.1em, transparent 0.1em),
      linear-gradient(90deg, #0a0a0a 0.1em, transparent 0.1em);
    background-size: 56px 56px;
  }
}
