# General
API_URL="The url where the api is running"
WEB_URL="The url where the web is running"
DOCS_URL="The url where the docs is running"
VERCEL_ENV="development"

# Payments
POLAR_ACCESS_TOKEN="Your polar access token"
POLAR_ORGANIZATION_ID="Your polar organization identifier"
POLAR_WEBHOOK_SECRET="Your confirmation webhook token"

# Analytics
TINYBIRD_URL="your tinybird server url"
TINYBIRD_TOKEN="your static tinybird token"

# Databases
DATABASE_URL="postgresql://formizee:password@localhost/formizee"

# Storage
VAULT_URL="The url where the vault is running"
VAULT_SECRET="openssl rand -base64 33"

# Authentication
AUTH_SECRET="openssl rand -base64 33"
AUTH_RESEND_KEY="Your resend api key"
AUTH_DRIZZLE_URL="postgresql://formizee:password@localhost/formizee"

AUTH_GITHUB_ID="Your OAuth Github app ID"
AUTH_GITHUB_SECRET="Your OAuth Github app secret"

AUTH_GOOGLE_ID="Your OAuth Google app ID"
AUTH_GOOGLE_SECRET="Your OAuth Google app secret"
