# General
API_URL="The url where the api is running"
WEB_URL="The url where the web is running"
DOCS_URL="The url where the docs is running"
VERCEL_ENV="development"

# Databases
DATABASE_URL="postgresql://formizee:password@localhost/formizee"
AUTH_DRIZZLE_URL="postgresql://formizee:password@localhost/formizee"

# Authentication
AUTH_SECRET="openssl rand -base64 33"
AUTH_RESEND_KEY="Your resend api key"
AUTH_GITHUB_ID="Your OAuth Github app id"
AUTH_GITHUB_SECRET="Your OAuth Github app secret"
