# General
VAULT_SECRET="openssl rand -base64 33"

# Databases
DATABASE_AUTH_TOKEN="Your libsql compatible database auth token"
DATABASE_URL="Your libsql compatible database connection url"

# Storage
STORAGE_SECRET_ACCESS_KEY="Your s3 compatible storage secret key"
STORAGE_ACCESS_KEY_ID="Your s3 compatible storage access key"
STORAGE_ENDPOINT="Your s3 endpoint"
STORAGE_BUCKET="Your s3 bucket"

# Analytics
TINYBIRD_URL="Your proxy tinybird url"
TINYBIRD_TOKEN="Your tiny bird token"

# Logs
LOGTAIL_TOKEN="Your logtail token"

# Master Keys
MASTER_KEY_V1="Use tools/keys package to generate a master key"
