# Databases
DATABASE_AUTH_TOKEN="Your libsql compatible database auth token"
DATABASE_URL="Your libsql compatible database connection url"

# Storage
VAULT_SECRET="Your vault access token"

# Analytics
TINYBIRD_URL="Your proxy tinybird url"
TINYBIRD_TOKEN="Your tiny bird token"

# Logs
LOGTAIL_TOKEN="Your logtail token"

# Email
RESEND_TOKEN="Your resend api key"
